.lp-gsb{
    background: none;
    border: none;
    background: grey;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
}
.lp-gsb:hover{
    background: rgb(94, 93, 93);
}